* {
  margin: 0;
  padding: 0;
}

* body {
  font-family: 'Noto Sans', sans-serif;
}

* body #preloader {
  background: #fff url("../../images/preloader.gif") no-repeat center center;
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 1000;
}

* body section {
  margin-top: 25px;
}

* body .card {
  border: none;
}

* body .card .card-body {
  background-color: #F1F3F4;
  border-radius: 8px;
}

* body .card .card-body h1 {
  text-align: center;
  font-weight: bold;
}

* body .card .card-body .form-label {
  font-weight: bold;
}

* body header {
  background-color: #128C7E;
}



* body header .main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

* body header .main .logo img {
  width: 100%;
}

* body header .main nav ul {
  list-style: none;
}

* body header .main nav ul a {
  color: #fff;
  text-decoration: none;
  font-size: 22px;
}

* body header .main nav ul a img {
  width: 12%;
}

* body .content iframe {
  border: 2px solid #128C7E;
  -webkit-box-shadow: 2px 2px #128C7E, -0.5em 0 .4em #128C7E;
          box-shadow: 2px 2px #128C7E, -0.5em 0 .4em #128C7E;
  width: 100%;
}

* body .content .col-lg-3 > div {
  height: 100%;
}

* body .content .col-lg-3 > div .card {
  height: 100%;
}

* body .content .col-lg-3 > div .card .card-body {
  height: 100%;
}

* body .content .col-lg-3 > div .card .card-body div {
  margin-top: 25px;
}

* body .content .col-lg-3 > div .card .card-body .action a {
  width: 100%;
  background-color: #128C7E;
  color: #fff;
}

* body .content-gas-station .main-gas {
  margin-top: 25px;
}

* body .content-gas-station .main-gas .gas-station {
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
  border-radius: 8px;
  padding: 25px;
  background-color: #fff;
  cursor: pointer;
}

* body .content-gas-station .main-gas .gas-station img {
  width: 100%;
  height: 250px;
}

* body .content-gas-station .main-gas .gas-station .kam {
  color: black;
}

* body .content-gas-station .main-gas .gas-station .kam span {
  color: #fff;
}

* body .content-gas-station .main-gas .gas-station .kam .kam_one {
  background-color: green;
  border-radius: 5px;
  padding: 5px 10px;
}

* body .content-gas-station .main-gas .gas-station .kam .kam_two {
  background-color: #F1F3F4;
  border-radius: 5px;
  font-weight: bold;
  padding: 5px 10px;
  color: black;
  margin-right: 20px;
}

* body .content-gas-station .main-gas .gas-station .ortacha span {
  color: #000;
}

* body .content-gas-station .main-gas .gas-station .ortacha .ortacha_one {
  background-color: yellow;
  border-radius: 5px;
  padding: 5px 10px;
}

* body .content-gas-station .main-gas .gas-station .ortacha .kam_two {
  background-color: #F1F3F4;
  border-radius: 5px;
  font-weight: bold;
  padding: 5px 10px;
  color: black;
  margin-right: 20px;
}

* body .content-gas-station .main-gas .gas-station .kop span {
  color: #fff;
}

* body .content-gas-station .main-gas .gas-station .kop .kop_ortacha {
  background-color: red;
  border-radius: 5px;
  padding: 5px 10px;
}

* body .content-gas-station .main-gas .gas-station .kop .kam_two {
  background-color: #F1F3F4;
  border-radius: 5px;
  font-weight: bold;
  padding: 5px 10px;
  color: black;
  margin-right: 20px;
}

* body .content-gas-station .main-gas .gas-station:hover {
  background-color: #128C7E;
  color: #fff;
}

* body footer {
  background-color: #128C7E;
  margin-top: 200px;
}

* body footer .logotip {
  text-align: center;
}

* body footer .logotip img {
  width: 300px;
}

* body .table.table-hover tr {
  margin-bottom: 10px;
}

* body .table.table-hover tr th {
  width: 20%;
  font-size: 35px;
}

* body .table.table-hover tr td {
  padding-top: 25px;
  text-align: center;
}
/*# sourceMappingURL=index.css.map */